[submodule "ImProVe"]
    path = ImProVe
    url = git@github.com:Mummanajagadeesh/ImProVe.git
[submodule "NeVer"]
    path = NeVer
    url = git@github.com:Mummanajagadeesh/NeVer.git
[submodule "cordic-algorithm-verilog"]
    path = cordic-algorithm-verilog
    url = git@github.com:Mummanajagadeesh/cordic-algorithm-verilog.git
[submodule "systolic-array-matrix-multiplication"]
    path = systolic-array-matrix-multiplication
    url = git@github.com:Mummanajagadeesh/systolic-array-matrix-multiplication.git
[submodule "alternate-numerical-notations-for-riscv"]
    path = alternate-numerical-notations-for-riscv
    url = git@github.com:Mummanajagadeesh/alternate-numerical-notations-for-riscv.git
