[submodule "ImProVe"]
    path = ImProVe
	url = https://x-access-token:${GITHUB_TOKEN}@github.com/Mummanajagadeesh/ImProVe.git
    branch = main

[submodule "NeVer"]
    path = NeVer
	url = https://x-access-token:${GITHUB_TOKEN}@github.com/Mummanajagadeesh/NeVer.git
    branch = main

[submodule "cordic-algorithm-verilog"]
    path = cordic-algorithm-verilog
	url = https://x-access-token:${GITHUB_TOKEN}@github.com/Mummanajagadeesh/cordic-algorithm-verilog.git
    branch = main

[submodule "systolic-array-matrix-multiplication"]
    path = systolic-array-matrix-multiplication
	url = https://x-access-token:${GITHUB_TOKEN}@github.com/Mummanajagadeesh/systolic-array-matrix-multiplication.git
    branch = main

[submodule "alternate-numerical-notations-for-riscv"]
    path = alternate-numerical-notations-for-riscv
	url = https://x-access-token:${GITHUB_TOKEN}@github.com/Mummanajagadeesh/alternate-numerical-notations-for-riscv.git
    branch = main
