[submodule "ImProVe"]
	path = ImProVe
	url = https://github.com/Mummanajagadeesh/ImProVe.git
[submodule "NeVer"]
	path = NeVer
	url = https://github.com/Mummanajagadeesh/NeVer.git
[submodule "cordic-algorithm-verilog"]
	path = cordic-algorithm-verilog
	url = https://github.com/Mummanajagadeesh/cordic-algorithm-verilog.git
[submodule "systolic-array-matrix-multiplication"]
	path = systolic-array-matrix-multiplication
	url = https://github.com/Mummanajagadeesh/systolic-array-matrix-multiplication.git
[submodule "alternate-numerical-notations-for-riscv"]
	path = alternate-numerical-notations-for-riscv
	url = https://github.com/Mummanajagadeesh/alternate-numerical-notations-for-riscv.git
